.files-container {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  max-height: 100vh;

  .list {
    background-color: #efefef;
    border: 1px solid #373737;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 300px;
    overflow: hidden;

    .list-header {
      align-items: center;
      background-color: #373737;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      z-index: 1;

      h2 {
        color: white;
        display: flex;
        flex: 2;

        small {
          align-items: center;
          display: flex;
          font-size: 14px;
          font-weight: 300;
          justify-content: center;
          vertical-align: middle;
        }
      }

      .edit-mode-button {
        background-color: transparent;
        border: none;
        color: #cccccc;
        outline: none;
        padding: 14px 14px 15px 14px;
        -webkit-user-select: none;

        &.active {
          background-color: white;
          color: #373737;
        }
      }

      .search-wrapper {
        display: flex;
        flex: 3;

        input {
          background-color: #555555;
          border: none;
          border-radius: 0;
          color: white;
          flex: 1;
          font-family: Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 300;
          padding: 15px;
          width: 100%;

          &::placeholder {
            color: #cccccc;
          }

          &:focus {
            background-color: #666666;
            outline: none;
          }
        }

        .clear-search {
          background-color: transparent;
          border: none;
          color: #cccccc;
          font-family: Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          height: 100%;
          width: 30px;
          right: 0;
          position: absolute;
          transition: 0.125s;

          &:hover {
            color: white;
            cursor: pointer;
          }

          &:active {
            background-color: transparent;
            outline: none;
          }
        }
      }
    }

    .list-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: env(safe-area-inset-bottom);

      .up-dir-button {
        background-color: #43536b;
        border: none;
        bottom: 0;
        color: white;
        margin-right: 10px;
        padding: 30px 30px calc(env(safe-area-inset-bottom) + 20px) 30px;
        position: absolute;
        transition: 0.125s;
        width: 100%;

        &:active {
          background-color: white;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #344054;
          cursor: pointer;
        }
      }

      .message-wrapper {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        padding-bottom: 75px;
        width: 100%;
      }
    }
  }

  .filelist {
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: calc(env(safe-area-inset-bottom) + 75px);
    position: absolute;
    width: 100%;

    .list-item {
      transition: 0.25s;

      a {
        align-items: center;
        color: #373737;
        display: flex;
        font-size: 12px;
        height: 100%;
        padding: 0 30px 0 0;
        transition: 0.125s;
        text-decoration: none;
        user-select: none;
        width: 100%;

        .list-item-edit {
          border: none;
          font-family: Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 200;
          margin-right: 10px;
          outline-color: #408892;
          padding: 10px;
          width: 100%;
        }

        .delete-button {
          align-items: center;
          background-color: transparent;
          border: none;
          color: tomato;
          display: flex;
          justify-content: center;
          margin-right: 5px;
          outline: none;
          padding: 15px;
          -webkit-user-select: none;

          &:hover {
            background-color: tomato;
            color: white;
          }
        }

        .list-item-title {
          pointer-events: none;
          padding: 15px;
        }

        .directoryIcon {
          align-items: center;
          color: #373737;
          display: flex;
          height: 20px;
          position: absolute;
          right: 10px;
          text-align: center;
          vertical-align: middle;
          user-select: none;
          width: 20px;
          -webkit-user-select: none;
        }
      }

      &:nth-child(2n) {
        background-color: #dddddd;
      }

      &.active {
        background-color: #6187cc;

        a {
          color: white;
        }
      }

      @media (hover: hover) {
        &:hover:not(.active) {
          background-color: #999999;

          a {
            color: white;

            .directoryIcon {
              color: white;
            }
          }
        }
      }
    }

    &.edit-mode {
      .list-item {
        a {
          padding-bottom: 1px;
          .list-item-title {
            padding: 28px 0;
          }
        }
      }
    }
  }

  .fileviewer-wrapper {
    align-items: flex-start;
    background-color: black;
    display: flex;
    flex: 2;
    justify-content: flex-start;

    video {
      outline: none;
    }
  }

}

// Desktop
@media (min-width: 892px) {
  .files-container {
    display: flex;
    flex-direction: row;

    .list {
      flex: 2;
    }

    .filelist {
      .list-item {
        a {
          font-size: 14px;

          .list-item-edit {
            border: none;
            margin-right: 10px;
            padding: 10px;
          }

          .delete-button {
            margin: 0 4px 3px 0;
            padding: 14px 14px;
          }
        }
      }
    }

    .fileviewer-wrapper {
      flex: 3;
      margin: 0;
    }
  }
}

// Mobile Landscape
@media (max-width: 891px) and (orientation: landscape) {
  .files-container {
    flex-direction: row;
    padding-bottom: 20px;

    .list {
      flex: 1;

      .list-header {
        .search-wrapper {
          input {
            padding: 10px;
            margin-left: 10px;
          }
        }
      }

      .list-body {
        margin-bottom: 0;

        .up-dir-button {
          bottom: 0;
          padding: 20px;
        }

        .message-wrapper {
          padding-bottom: 50px;
        }
      }
    }

    .filelist {
      padding-bottom: 70px;
    }

    .fileviewer-wrapper {
      flex: 3;
    }
  }
}

// Mobile Portrait
@media (max-width: 891px) and (orientation: portrait) {
  .files-container {
    .list {
      flex: 4;
    }

    .fileviewer-wrapper {
      flex: 2;
    }
  }
}
