.files-container {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  max-height: 100vh;

  .list {
    background-color: #efefef;
    border: 1px solid #373737;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 300px;
    overflow: hidden;

    .list-header {
      align-items: center;
      background-color: #373737;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      z-index: 1;

      h2 {
        color: white;
        display: flex;
        flex: 2;

        small {
          align-items: center;
          display: flex;
          font-size: 14px;
          font-weight: 300;
          justify-content: center;
          vertical-align: middle;
        }
      }

      .search-wrapper {
        display: flex;
        flex: 3;

        input {
          background-color: #555555;
          border: none;
          border-radius: 0;
          color: white;
          flex: 1;
          font-family: Helvetica, sans-serif;
          font-weight: 300;
          padding: 15px;
          width: 100%;

          &::placeholder {
            color: #cccccc;
          }

          &:focus {
            outline: none;
          }
        }

        .clear-search {
          background-color: transparent;
          border: none;
          color: #cccccc;
          font-family: Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          height: 100%;
          width: 30px;
          right: 0;
          position: absolute;
          transition: 0.125s;

          &:hover {
            color: white;
            cursor: pointer;
          }

          &:active {
            background-color: transparent;
          }
        }
      }
    }

    .list-body {
      flex: 1;

      .up-dir-button {
        background-color: #43536b;
        border: none;
        bottom: 40px;
        color: white;
        margin-right: 10px;
        padding: 20px;
        position: absolute;
        width: 100%;

        &:active {
          background-color: white;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .message-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .filelist {
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 70px;
    position: absolute;
    width: 100%;

    .list-item {
      transition: 0.25s;

      a {
        color: #373737;
        display: block;
        font-size: 12px;
        height: 100%;
        padding: 15px;
        transition: 0.125s;
        text-decoration: none;
        width: 100%;

        .directoryIcon {
          color: #373737;
          display: inline-block;
          height: 20px;
          position: absolute;
          right: 10px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
      }

      &:nth-child(2n) {
        background-color: #dddddd;
      }

      &.active {
        background-color: #1e5b30;

        a {
          color: white;
        }
      }

      @media (hover: hover) {
        &:hover:not(.active) {
          background-color: #999999;

          a {
            color: white;

            .directoryIcon {
              color: white;
            }
          }
        }
      }
    }
  }

  .fileviewer-wrapper {
    align-items: flex-start;
    background-color: black;
    display: flex;
    flex: 2;
    justify-content: flex-start;
  }

}

// Desktop
@media (min-width: 892px) {
  .files-container {
    display: flex;
    flex-direction: row;
    padding: 0;

    .list {
      flex: 2;

      .list-body {
        .up-dir-button {
          bottom: 0;
          padding: 30px 30px 35px 30px;
        }
      }
    }

    .filelist {
      .list-item {
        a {
          font-size: 14px;
        }
      }
    }

    .fileviewer-wrapper {
      flex: 3;
      margin: 0;
    }
  }
}

// Mobile Landscape
@media (max-width: 891px) and (orientation: landscape) {
  .files-container {
    flex-direction: row;
    padding-bottom: 20px;

    .list {
      flex: 1;

      .list-header {
        .search-wrapper {
          input {
            padding: 10px;
            margin-left: 10px;
          }
        }
      }

      .list-body {
        .up-dir-button {
          bottom: 0;
        }
      }
    }

    .fileviewer-wrapper {
      flex: 3;
    }
  }
}

// Mobile Portrait
@media (max-width: 891px) and (orientation: portrait) {
  .files-container {
    .list {
      flex: 3;

      .list-body {
        .up-dir-button {
          padding: 30px 30px 35px 30px;
        }
      }

      .filelist {
        padding-bottom: 140px;
      }
    }

    .fileviewer-wrapper {
      flex: 2;
    }
  }
}
