.config-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100vh;

  .list {
    background-color: #efefef;
    border: 1px solid #373737;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 300px;
    overflow: hidden;

    .list-header {
      align-items: center;
      background-color: #373737;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      z-index: 1;

      h2 {
        color: white;
        display: flex;
        flex: 2;

        small {
          align-items: center;
          display: flex;
          font-size: 14px;
          font-weight: 300;
          justify-content: center;
          vertical-align: middle;
        }
      }
    }

    .list-body {
      flex: 1;

      .message-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .form-wrapper {
    margin-bottom: 10px;
    width: 100%;

    form {
      display: flex;
      width: 100%;
    }

    input {
      background-color: #efefef;
      border: none;
      border-radius: 0;
      flex: 2;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      padding: 15px;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: white;
      border: none;
      color: #373737;
      font-family: Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .drivelist {
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 48px;
    width: 100%;

    .list-item {
      transition: 0.25s;

      button {
        border: none;
        color: #373737;
        display: block;
        height: 100%;
        font-size: 12px;
        padding: 15px;
        transition: 0.125s;
        text-decoration: none;
        width: 100%;

        &:hover:not(.active) {
          background-color: #999999;
          color: white;
          cursor: pointer;
        }
      }

      &:nth-child(2n) {
        button {
          background-color: #dddddd;
        }
      }

      &.active {
        background-color: #1e5b30;

        a {
          color: white;
        }
      }
    }
  }
}

// Desktop
@media (min-width: 892px) {
  .config-container {
    display: flex;
    padding-bottom: 0;

    .drivelist {
      .list-item {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

// Mobile Landscape
@media (max-width: 891px) and (orientation: landscape) {
  .config-container {
    padding-bottom: 10px;
  }
}
