.config-container {
  padding: 10px;

  .list {
    background-color: #efefef;
    border: 1px solid #373737;
    width: 200px;

    .list-header {
      align-items: center;
      background-color: #373737;
      display: flex;
      padding: 15px;

      h2 {
        color: white;
      }

      button {
        background-color: white;
        border: none;
        color: #373737;
        font-weight: 300;
        padding: 15px;
        position: absolute;
        right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .list-body {
      padding: 10px;
    }
  }

  .videopath-form-wrapper {
    margin-bottom: 10px;
    width: 100%;

    form {
      display: flex;
      width: 100%;
    }

    input {
      background-color: #efefef;
      border: none;
      border-radius: 0;
      flex: 2;
      font-weight: 300;
      padding: 15px;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: white;
      border: none;
      color: #373737;
      font-weight: 300;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .drivelist {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}
