.videos-container {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;

  .list {
    background-color: #efefef;
    border: 1px solid #373737;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    min-width: 300px;
    overflow: hidden;

    .list-header {
      align-items: center;
      background-color: #373737;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      z-index: 1;

      h2 {
        color: white;
        flex: 2;

        small {
          font-size: 14px;
          font-weight: 300;
          vertical-align: middle;
        }
      }

      .search-wrapper {
        display: flex;
        flex: 3;

        input {
          background-color: #555555;
          border: none;
          border-radius: 0;
          color: white;
          flex: 1;
          font-family: Helvetica, sans-serif;
          font-weight: 300;
          padding: 15px;
          width: 100%;

          &::placeholder {
            color: #cccccc;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .list-body {
      flex: 1;

      .message-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .videolist {
    height: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 48px;
    position: absolute;
    width: 100%;

    .list-item {
      transition: 0.25s;

      a {
        color: #373737;
        display: block;
        font-size: 12px;
        height: 100%;
        padding: 15px;
        transition: 0.125s;
        text-decoration: none;
        width: 100%;
      }

      &:nth-child(2n) {
        background-color: #dddddd;
      }

      &.active {
        background-color: #1e5b30;

        a {
          color: white;
        }
      }

      &:hover:not(.active) {
        background-color: #999999;

        a {
          color: white;
        }
      }
    }
  }

  .videoplayer-wrapper {
    align-items: flex-start;
    background-color: black;
    display: flex;
    flex: 2;
    justify-content: flex-start;
  }

}

// Desktop
@media (min-width: 892px) {
  .videos-container {
    display: flex;
    flex-direction: row;
    padding: 0;

    .list {
      flex: 2;
    }

    .videolist {
      .list-item {
        a {
          font-size: 14px;
        }
      }
    }

    .videoplayer-wrapper {
      flex: 3;
      margin: 0;
    }
  }
}

// Mobile Landscape
@media (max-width: 891px) and (orientation: landscape) {
  .videos-container {
    flex-direction: row;
    padding-bottom: 20px;

    .list {
      flex: 1;

      .list-header {
        .search-wrapper {
          input {
            padding: 10px;
            margin-left: 10px;
          }
        }
      }
    }

    .videoplayer-wrapper {
      flex: 3;
    }
  }
}

// Mobile Portrait
@media (max-width: 891px) and (orientation: portrait) {
  .videos-container {
    .list {
      flex: 3;
    }

    .videoplayer-wrapper {
      flex: 2;
    }
  }
}
