.app-container {
  background-color: #999999;
  height: 100%;
  overflow: hidden;

  .header {
    align-items: center;
    background-color: #1f80ee;
    display: flex;
    padding: 10px;

    h1 {
      color: white;
    }

    .nav {
      position: absolute;
      right: 10px;

      a {
        color: white;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
        transition: 0.125s;

        &.active {
          background-color: white;
          color: #373737;
        }

        &:hover:not(.active) {
          background-color: #999999;
        }
      }
    }
  }
}
