.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header {
    align-items: center;
    background-color: #1f80ee;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    h1 {
      color: white;
      font-size: 36px;
      font-weight: 100;
    }

    .nav {
      a {
        color: white;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
        transition: 0.125s;

        &.active {
          background-color: white;
          color: #373737;
        }

        &:hover:not(.active) {
          background-color: #999999;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// Desktop
@media (min-width: 892px) and (orientation: landscape) {
  .app-container {
    .header {
      padding: 10px;
    }
  }
}

// Mobile Portrait
@media (max-width: 891px) and (orientation: portrait) {
  .app-container {
    .header {
      padding: 10px;
    }
  }
}

// Mobile Landscape
@media (orientation: landscape) {
  .app-container {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
