.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  .login-form-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .login-heading {
      color: #ffffff;
      font-size: 72px;
      font-weight: 800;
    }

    form {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .pin-wrapper {
        display: flex;
        height: 60px;
        justify-content: center;
        margin: 20px;
        width: 320px;

        input {
          background-color: #efefef;
          border: none;
          border-radius: 5rem 0 0 5rem;
          font-family: Nunito, sans-serif;
          font-size: 20px;
          font-weight: 200;
          outline: none;
          padding: 25px;
          text-align: center;
          width: 50%;

          &:focus {
            outline: none;
          }
        }

        button {
          background: linear-gradient(to bottom, #44a1e2 0%, #3567a5 50%, #2772ae 100%);
          border: none;
          border-radius: 0 5rem 5rem 0;
          color: white;
          font-family: Nunito, sans-serif;
          font-size: 18px;
          font-weight: 200;
          outline: transparent;
          padding: 15px;
          user-select: none;
          -webkit-user-select: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .version {
      bottom: 80px;
      color: white;
      font-family: monospace;
      font-size: 8px;
      font-weight: 100;
      position: absolute;
    }
  }
}

// Mobile Portrait
@media (max-width: 891px) and (orientation: portrait) {
  .login-container {

    .login-form-wrapper {
      padding-bottom: 60px;
    }
  }
}


